<!--
======================================
; Title: contact.component.html
; Author: Janis Gonzalez
; Date: July 16, 2023
; Description: contact component HTML file
; Sources Used:
; WEB425 Capstone Instructions
=====================================
-->

<h1 style="text-align: center;">Welcome to the Contact Us Page!</h1>
<br><br><br>

<div fxLayout="row wrap">


    <div fxFlex>

        <mat-card class="mat-elevation-z0">
            <mat-card-title class="card-title-icon align-center">
                <mat-icon color="primary">navigation</mat-icon>
            </mat-card-title>
            <br>
            <mat-card-content class="align-center">
                <p>505 Main Street</p>
                <p>
                    Omaha, Nebraska 68123
                </p>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex>
        <mat-card class="mat-elevation-z0">
            <mat-card-title class="card-title-icon align-center">
                <mat-icon color="primary">phone</mat-icon>
            </mat-card-title>

            <br>
            <mat-card-content class="align-center">
                <p>
                    Direct: 555-555-5555
                </p>
                <p>
                    Toll Free: 1-800-555-5555
                </p>
                <p>
                    Fax: 555-555-5555
                </p>
            </mat-card-content>
        </mat-card>
    </div>