<!--
======================================
; Title: about.component.html
; Author: Janis Gonzalez
; Date: July 16, 2023
; Description: about component HTML file
; Sources Used:
; WEB425 Capstone Instructions
=====================================
-->

<div fxLayout="row wrap">
    <div fxFlex>
        <div fxLayout="column">
            <div>
                <img src="/src/assets/img/slytherin.png" width="50%"><br>
                <em class="font-black">
          Welcome to the Loan Application!
        </em>
            </div>
            <div>
            </div>
        </div>

        <div fxFlex>
            <h1 class="loan-title">All About Loan App</h1>
            <p class="about">
                Welcome to Gringotts' Loan App - the premier financial institution serving the wizarding community. With our magical loan app, we bring the power of modern technology and the convenience of the wizarding world together, making borrowing money effortless
                and stress-free. At Loan App, we understand the unique needs and challenges that wizards and witches face, and we strive to provide tailor-made financial solutions to meet their requirements. Whether you need Galleons to purchase magical
                artifacts, fund your education at Hogwarts School of Witchcraft and Wizardry, or start a new business in Diagon Alley, our loan app has got you covered. Our team of experienced goblins has been working tirelessly for centuries to ensure
                that our loan app offers a seamless and secure experience. With a few simple taps of your wand, you can access the full range of loan options. By providing access to your loan history through our app, we aim to empower you with insights
                to make informed financial decisions and track your progress towards financial stability. Security is our utmost priority, and we employ the most advanced protective enchantments to safeguard your personal and financial information. Our
                loan app is powered by state-of-the-art spellcasting technology, ensuring that your data remains encrypted and impervious to unauthorized access. Join the thousands of satisfied wizards and witches who have embraced the convenience of
                Loan App. Let us empower your dreams and aspirations by providing the financial support you need. Apply today and unlock a world of possibilities with our magical loan app!
                <br><br>
                <i>
                  Gringotts' Loan App - Making your wizarding dreams a reality, one loan at a time.
      </i><br><br>

            </p>
        </div>
    </div>