<!--
======================================
; Title: not-found.component.html
; Author: Janis Gonzalez
; Date: July 16, 2023
; Description: not found HTML file
; Sources Used:
; WEB-425 Capstone Instructions
=====================================
-->

<div fxLayout="column"><br><br><br>
    <h2 class="error">404 Error</h2><br>
    <h3 class="error2">Page Not Found</h3>

    <img class="image" src="/src/assets/img/not-found-image.png"><br><br>

    <h2 class="not-found">Oh, dear visitor, it appears you've wandered off the magical path. Alas, the page you seek cannot be found in this enchanted realm. It seems the Floo Network has encountered a hiccup, preventing us from connecting you to Gringotts' Loan App. Fear
        not, for we shall provide guidance to help you find your way back to the realm of wizardry and wonder. </h2><br>

    <h2 class="not-found"><button mat-raised-button class="bg-yellow" routerLink="/">Return home</button></h2>

</div>